.idea
*.iml
/server/etc/
/server/node/
/server/node_modules/
/server/bower_components/
/server/dist/
/server/target/
*/target/*
*/ts_target/*
*/js_target/*
/.history/
/server/src/test/e2e/*/nightwatch/*