<div *ngIf="race">
    <p>{{ 'SWAP_ENTRIES' | translate }} {{ 'IN_RACE' | translate }} {{ race.name }}</p>
</div>

<div>
    <form class="form-group" novalidate>
        <div class="form-group">
            <label>{{ 'SWAP_FROM' | translate }}:</label>
            <select [(ngModel)]="from" name="from">
                <option *ngFor="let entry of getEntriesForRace()" [ngValue]="entry">{{entry.number}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>{{ 'SWAP_TO' | translate }}:</label>
            <select [(ngModel)]="to" name="to">
                 <option *ngFor="let entry of getEntriesForRace()" [ngValue]="entry">{{entry.number}}</option>
            </select>
        </div>  
       
        <div class="form-group">
            <button (click)="swapEntries()" [disabled]="!isSwapEnabled()">{{ 'SWAP_ENTRIES' | translate }}</button>
        </div>
    </form>
</div>

<div *ngIf="race">
    <button class="btn primary" (click)="goBack()">{{ 'BACK_TO_ENTRIES' | translate }} {{race.name}}</button>
</div>
