<div data-ng-controller="clubController as ctrl">
    <h1>{{ 'CLUB' | translate }}</h1>

    <div data-uib-alert type="{{ctrl.alert.type}}" close="ctrl.closeAlert()" ng-show="ctrl.alert.msg != null" ng-class="'alert-' + ctrl.alert.type">
        {{ctrl.alert.msg}}
    </div>

    <p>{{ 'ADD_CLUB' | translate }}</p>

    <div>
        <form name="ctrl.addClubForm" novalidate>
            <div class="form-group">
                <label>{{ 'CLUB_NAME' | translate }}</label>
                <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength" type="text" name="name" id="name" ng-model="ctrl.club.clubName" not-existing-club-name required ng-minlength="3" ng-maxlength="254" size="100"/>
                <div class="errors" ng-messages="ctrl.addClubForm.name.$error" ng-if="(ctrl.addClubForm.name.$dirty && ctrl.addClubForm.name.$invalid) || (ctrl.addClubForm.order.$dirty)">
                    <p ng-message="minlength">{{ 'CLUB_NAME_TOO_SHORT' | translate }}</p>
                    <p ng-message="maxlength">{{ 'CLUB_NAME_TOO_LONG' | translate }}</p>
                    <p ng-message="required">{{ 'CLUB_NAME_REQUIRED' | translate }}</p>
                    <p ng-message="clubNameExists">{{ 'CLUB_NAME_ALREADY_EXISTS' | translate }}</p>
                </div>
            </div>

            <button id="createClub" data-ng-click="ctrl.addClub(ctrl.club)" ng-disabled="ctrl.addClubForm.$invalid">{{ 'CREATE_CLUB' | translate }}</button>
        </form>
    </div>

    <div class="spacer"> </div>
    <div class="spacer"> </div>

    <div ng-show="ctrl.clubs.$resolved">
        <table id="clubs" ng-table class="table table-condensed table-bordered table-striped" >
            <tr ng-repeat="club in ctrl.clubs">
                <td data-title="'CLUB_NAME' | translate"><input type="text" name="name" ng-model="club.clubName" style="width:100%"/></td>
                <td><button class="btn primary update-club" ng-click="ctrl.updateClub(club)" ng-disabled="!ctrl.validClubName(club)">{{ 'UPDATE_CLUB' | translate }}</button></td>
                <td><button class="btn primary delete-club" ng-click="ctrl.removeClub(club)">{{ 'REMOVE_CLUB' | translate }}</button></td>
            </tr>
        </table>
    </div>
</div>