<div class="form-group">
    <div *ngIf="title">
        {{ 'CURRENT_EVENT_TITLE' | translate }}: {{ title }}
    </div>

    <label>{{ 'NEW_EVENT_TITLE' | translate }}:</label>
    <input type="text" [(ngModel)]="newTitle"/>
    <div *ngIf="newTitle && newTitle.length > 2 && newTitle.length < 251">
        <button class="btn primary" (click)="uploadTitle()">{{ 'UPLOAD_TITLE' | translate }}</button>
    </div>
</div>

<div class="form-group">
    <div *ngIf="logo">
        {{ 'CURRENT_EVENT_LOGO' | translate }}: {{ logo }}
    </div>

    <label>{{ 'NEW_EVENT_LOGO' | translate }}:</label>
    <input type="file" (change)="onFileChange($event)"/>
    <div *ngIf="newLogo">
        <button class="btn primary" (click)="uploadLogo()">{{ 'UPLOAD_LOGO' | translate }}</button>
    </div>
</div>

<div class="form-group">
    <div *ngIf="footer">
        {{ 'CURRENT_EVENT_FOOTER' | translate }}: {{ footer }}
    </div>

    <label>{{ 'NEW_EVENT_FOOTER' | translate }}:</label>
    <input type="text" [(ngModel)]="newFooter"/>
    <div *ngIf="newFooter && newFooter.length > 2 && newFooter.length < 25">
        <button class="btn primary" (click)="uploadFooter()">{{ 'UPLOAD_FOOTER' | translate }}</button>
    </div>
</div>