

<div *ngIf="connected && connected.length > 0">
    <div>{{ 'SEND_MESSAGE' | translate }}
        <select #to>
            <option *ngIf="connected.length > 1" selected>ALL</option>
            <option *ngFor="let c of connected">
                {{ c.userName }}/{{ c.role }}/{{ c.position }}
            </option>
        </select>
    <div>
        <input type="text" #message>
        <button (click)="sendMessage(to.value, message.value); message.value=''" [disabled]="message.value.length === 0">{{ 'SEND' | translate }}</button>
    </div>
</div>

<div *ngIf="messages.length > 0">
    <div *ngFor="let mp of messages" class="messages">
        <div>{{ 'CONVERSTATION_WITH' | translate }} {{ mp.position }}</div>
        <div>
            <textarea readonly rows="4" cols="80" [value]="getMessages(mp)" readonly></textarea>
        </div>
        <input type="text" #response>
        <button (click)="respond(mp, response.value); response.value=''" [disabled]="response.value.length === 0">{{ 'RESPOND' | translate }}</button>
    </div>
</div>