<div data-ng-controller="raceController as ctrl">
    <h1>{{ 'RACE' | translate }}</h1>

    <div data-uib-alert type="{{ctrl.alert.type}}" close="ctrl.closeAlert()" ng-show="ctrl.alert != null" ng-class="'alert-' + ctrl.alert.type">
        {{ctrl.alert.msg}}
    </div>

    <p>{{ 'ADD_RACE' | translate }}</p>

    <div>
        <form name="ctrl.addRaceForm" ng-submit="ctrl.addRaceForm.$valid" novalidate>
            <div class="form-group">
                <label>{{ 'RACE_NAME' | translate }}</label>
                <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength" type="text" name="name" id="name" ng-model="ctrl.race.name" not-existing-race-name  required ng-minlength="3" ng-maxlength="10"/>
                <div class="errors" ng-messages="ctrl.addRaceForm.name.$error" ng-if="(ctrl.addRaceForm.name.$dirty && ctrl.addRaceForm.name.$invalid) || (ctrl.addRaceForm.order.$dirty)">
                    <p ng-message="minlength">{{ 'RACE_NAME_TOO_SHORT' | translate }}</p>
                    <p ng-message="maxlength">{{ 'RACE_NAME_TOO_LONG' | translate }}</p>
                    <p ng-message="required">{{ 'RACE_NAME_REQUIRED' | translate }}</p>
                    <p ng-message="raceNameExists">{{ 'RACE_NAME_ALREADY_EXISTS' | translate }}</p>
                </div>
            </div>

            <div class="form-group" >
                <label>{{ 'RACE_ORDER' | translate }}</label>
                <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength" type="number" name="order" ng-model="ctrl.race.order" not-existing-race-number required min="1" max="10"/>
                <div class="errors" ng-messages="ctrl.addRaceForm.order.$error" ng-if="(ctrl.addRaceForm.order.$dirty && ctrl.addRaceForm.order.$invalid) || (ctrl.addRaceForm.name.$dirty)">
                    <p ng-message="min">{{ 'RACE_ORDER_TOO_SMALL' | translate }}</p>
                    <p ng-message="max">{{ 'RACE_ORDER_TOO_LARGE' | translate }}</p>
                    <p ng-message="required">{{ 'RACE_ORDER_REQUIRED' | translate }}</p>
                    <p ng-message="raceNumberExists">{{ 'RACE_ORDER_ALREADY_EXISTS' | translate }}</p>
                </div>
            </div>
            <button id="createRace" data-ng-click="ctrl.addRace(ctrl.race)" ng-disabled="ctrl.addRaceForm.$invalid">{{ 'CREATE_RACE' | translate }}</button>
        </form>
    </div>

    <div class="Spacer"> </div>
    <div class="Spacer"> </div>

    <div data-ng-show="ctrl.races.$resolved">
        <table id="races" data-ng-table class="table table-condensed table-bordered table-striped" >
            <tr data-ng-repeat="race in ctrl.races">
                <td data-title="'RACE_NAME' | translate">{{race.name}}</td>
                <td data-title="'RACE_ORDER' | translate">{{race.raceOrder}}</td>
                <td><button class="btn primary" ng-click="ctrl.removeRace(race)">{{ 'REMOVE_RACE' | translate }}</button></td>
            </tr>
        </table>
    </div>
</div>