
<div *ngIf="addEntryForm" class="form-group">
    <form [formGroup]="addEntryForm" (ngSubmit)="onSubmit(addEntryForm)" novalidate>
        <div>
            <label>{{ 'RACE' | translate }}: </label>
            <select formControlName="race" name="race" (change)="changeRace(addEntryForm.get('race').value)">
                <option *ngFor="let race of races" [ngValue]="race">{{ race.name }}</option>
            </select>
        </div> 
        <div>
            <div>
                <label>{{ 'EVENTS_FOR_CURRENT_RACE' | translate }}: </label>
                <input type="radio" #current formControlName="eventsType" value="current" [checked]="addEntryForm.get('eventsType').value === 'current'" (change)="onEventTypeChange(current.value)">
            </div>
            <div>
                <label>{{ 'EVENTS_FOR_UNASSIGNED' | translate }}: </label>
                <input type="radio" #unassigned formControlName="eventsType" value="unassigned" [checked]="addEntryForm.get('eventsType').value === 'unassigned'" (change)="onEventTypeChange(unassigned.value)">
            </div>
            <div>
                <label>{{ 'EVENTS_FOR_OTHER_RACES' | translate }}: </label>
                <input type="radio" #other formControlName="eventsType" value="other" [checked]="addEntryForm.get('eventsType').value === 'other'" (change)="onEventTypeChange(other.value)">
            </div>
        </div>       
        <div>
            <label>{{ 'EVENT' | translate }}: </label>
            <select formControlName="event" name="event">
                <option *ngFor="let event of eventsForRace" [ngValue]="event">{{ event.name }} -- {{ getRaceNameForEvent(event) }}</option>
            </select>
        </div>
        <div>
            <label>{{ 'CLUB' | translate }}: </label>
            <select formControlName="clubs" multiple name="clubs">
                <option *ngFor="let club of clubs" [ngValue]="club">{{ club.clubName }}</option>
            </select>
        </div>
        <div>
            <label>{{ 'CREW' | translate }}: </label>
            <input type="text" formControlName="crew" name="crew" placeholder="{{ 'ENTER_CREW' | translate }}">
        </div>
        <div>
            <label>{{ 'IS_FIXED_NUMBER' | translate }}: </label>
            <input type="checkbox" formControlName="isFixedNumber" name="isFixedNumber">
        </div>
        <div *ngIf="addEntryForm.get('isFixedNumber').value === true">
            <label>{{ 'FIXED_NUMBER' | translate }}: </label>
            <input type="number" formControlName="fixedNumber" name="fixedNumber"/>
        </div>

        <button type="submit" [disabled]="!addEntryForm.valid">{{ 'CREATE_ENTRY_SUBMIT' | translate }}</button>
    </form>
</div>

<!--<div>
    <form name="addEntryForm" novalidate>
        <div class="form-group">
            <label>{{ 'FIXED_ENTRY_NUMBER' | translate }}</label>
            <input type="checkbox" name="fixed" />
            <div ng-show="ctrl.entry.fixedNumber" >
                <label>{{ 'ENTRY_NUMBER' | translate }}</label>
                <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength" type="number" name="number" id="number" ng-model="ctrl.entry.number" not-existing-entry-number ng-required="ctrl.entry.fixedNumber" min="1" max="1000000"/>

                <div class="errors" ng-messages="ctrl.addEntryForm.number.$error" ng-if="ctrl.addEntryForm.number.$invalid">
                    <p ng-message="required">{{ 'ENTRY_NUMBER_REQUIRED' | translate }}</p>
                    <p ng-message="min">{{ 'ENTRY_NUMBER_TOO_SMALL' | translate }}</p>
                    <p ng-message="max">{{ 'ENTRY_NUMBER_TOO_LARGE' | translate }}</p>
                    <p ng-message="entryNumberExists">{{ 'ENTRY_NUMBER_ALREADY_EXISTS' | translate }}</p>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="ctrl.events">
            <label>{{ 'ENTRY_EVENT' | translate }}</label>
            <select name="event" ng-model="ctrl.entry.event" ng-options="event as event.name for event in ctrl.events" required></select>
        </div>

        <div class="form-group" ng-show="ctrl.clubs">
            <label>{{ 'ENTRY_CLUB' | translate }}</label>
            <select multiple name="clubs" ng-model="ctrl.entry.clubs" ng-options="club as club.clubName for club in ctrl.clubs track by club.id" ng-change="ctrl.clubChanged(entry)" required></select>
            {{entry.club}}
        </div>

        <div class="form-group">
            <label>{{ 'ENTRY_CREW' | translate }}</label>
            <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength" type="text" name="crew" id="crew" ng-model="ctrl.entry.crew" ng-maxlength="20"/>
            <div class="errors" ng-messages="ctrl.addEntryForm.name.$error" ng-if="(ctrl.addEntryForm.name.$dirty && ctrl.addEntryForm.name.$invalid) || (ctrl.addEntryForm.order.$dirty)">
                <p ng-message="crewmaxlength">{{ 'CREW_NAME_TOO_LONG' | translate }}</p>
            </div>
        </div>

        <div class="form-group">
            <label>{{ 'ENTRY_WEIGHTING' | translate }}</label>
            <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength" type="text" name="weighting" id="weighting" ng-model="ctrl.entry.weighting" ng-minlength="4" ng-maxlength="5"/>
            <div class="errors" ng-messages="ctrl.addEntryForm.name.$error" ng-if="(ctrl.addEntryForm.name.$dirty && ctrl.addEntryForm.name.$invalid) || (ctrl.addEntryForm.order.$dirty)">
                <p ng-message="weightminlength">{{ 'WEIGHTING_TOO_SHORT' | translate }}</p>
                <p ng-message="weightmaxlength">{{ 'WEIGHTING_TOO_LONG' | translate }}</p>
            </div>
        </div>

        <div>
            <button id="addEntry" data-ng-show="{{ctrl.entry.id === undefined}}" class="btn primary" data-ng-click="ctrl.addEntry(ctrl.entry)" ng-disabled="ctrl.addEntryForm.$invalid">{{ 'CREATE_ENTRY' | translate }}</button>
            <button data-ng-show="{{ctrl.entry.id !== undefined}}" id="updateEntry" class="btn primary" data-ng-click="ctrl.updateEntry(ctrl.entry)" ng-disabled="ctrl.addEntryForm.$invalid">{{ 'UPDATE_ENTRY' | translate }}</button>
            <button id="back" class="btn primary" data-ng-click="ctrl.back()">{{ 'BACK' | translate }}</button>
        </div>
    </form>
</div>-->

<div >
    <button class="btn primary" (click)="goBack()">{{ 'ENTRY_BACK_TO' | translate }}</button>
</div>