<div *ngIf="entry">
    <p>{{ 'FOR_DISQUALIFICATION_IN' | translate }} {{entry.race.name}} {{ 'FOR_ENTRY' | translate }} </p>
    <ul >
        <li>{{ 'NUMBER' | translate }}: {{entry.number}}</li>
        <li>{{ 'CLUB' | translate }}: {{entry.getClubNames()}}</li> 
        <li>{{ 'EVENT' | translate }}: {{entry.event.name}}</li>
    </ul>
</div>


<p>{{ 'PENALTY_COMMENT_DESCRIPTION' | translate }}</p>
<p>{{ 'PENALTY_NOTE_DESCRIPTION' | translate }}</p>

<div>
    <form class="form-group" novalidate>
        <div class="form-group">
            <label>{{ 'COMMENT' | translate }}:</label>
            <input type="text" name="comment" id="comment" [(ngModel)]="model.comment"/>
        </div>
        <div class="form-group">
            <label>{{ 'NOTE' | translate }}:</label>
            <input type="text" name="note" id="note" [(ngModel)]="model.note"/>
        </div>  

        <div *ngIf="!isDisqualified()">
            <div class="form-group">
                <button class="btn primary" (click)="addDisqualificationForEntry()">{{ 'DISQUALIFY_ENTRY' | translate }}</button>
            </div>
        </div>
        <div *ngIf="isDisqualified()">
            <div class="form-group">
                <button class="btn primary" (click)="updateDisqualificationForEntry()">{{ 'UPDATE_ENTRY' | translate }}</button>
            </div>
            <div class="form-group">
                <button class="btn primary" (click)="removeDisqualificationForEntry()">{{ 'REMOVE_ENTRY' | translate }}</button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="entry">
    <button class="btn primary" (click)="goBack()">{{ 'BACK_TO_ENTRIES' | translate }} {{entry.race.name}}</button>
</div>
