<button *ngIf="raceIsOpen()" class="btn primary" (click)="closeRace()">{{ 'CLOSE_RACE' | translate }}</button>
<button *ngIf="!raceIsOpen()" class="btn primary" (click)="reopenRace()">{{ 'REOPEN_RACE' | translate }}</button>

<div>
    <button *ngIf="race" class="btn primary" [routerLink]="['/swap', race.id]">{{ 'SWAP_ENTRIES' | translate }}</button>
</div>

<h2 *ngIf="getRace()">Entries and times for {{getRace().name}}</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th *ngIf="reverseNumberSort">{{ 'NUMBER' | translate }} <span (click)="sortByNumber('up')" class="fa fa-caret-up"></span></th>
            <th *ngIf="!reverseNumberSort">{{ 'NUMBER' | translate }} <span (click)="sortByNumber('down')" class="fa fa-caret-down"></span></th>
            <th>{{ 'EVENT' | translate }}</th>
            <th>{{ 'CLUB' | translate }}</th>
            <th>{{ 'CREW' | translate }}</th>
            <th>{{ 'RECORDED_TIME' | translate }}</th>
            <th>{{ 'TOTAL_PENALTY' | translate }}</th>
            <th *ngIf="reverseAdjustedTimeSort">{{ 'ADJUSTED_TIME' | translate }} <span (click)="sortByAdjustedTime('up')" class="fa fa-caret-up"></span></th>
            <th *ngIf="!reverseAdjustedTimeSort">{{ 'ADJUSTED_TIME' | translate }} <span (click)="sortByAdjustedTime('down')" class="fa fa-caret-down"></span></th>
            <th></th>
            <th></th>
            <th>{{ 'SYNCED' | translate }}</th>
        </tr>
        <tr>
            <th><input placeholder="{{ 'NUMBER_PLACEHOLDER' | translate }}" type="text" #number [(ngModel)]="numberFilter" (keyup)="onKey(number.value, 'number')"></th>
            <th><input placeholder="{{ 'EVENT_PLACEHOLDER' | translate }}" type="text" #event [(ngModel)]="eventFilter" (keyup)="onKey(event.value, 'event')"></th>
            <th><input placeholder="{{ 'CLUB_PLACEHOLDER' | translate }}" type="text" #club [(ngModel)]="clubFilter" (keyup)="onKey(club.value, 'club')"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of filteredEntryTimes | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
            <td>{{e.entry.number}}</td>
            <td>{{ getEventNameForEntry(e.entry) }}</td>
            <td>{{ getClubNamesForEntry(e.entry) }}</td>
            <td>{{e.entry.crew}}</td>
            <td>{{ getRecordedTimeForEntry(e) }}</td>
            <td>{{ getTotalPenaltyTimesForEntry(e) }}</td>
            <td>{{ getAdjustedTimeForEntry(e) }}</td>
            <td><button class="btn primary" [routerLink]="['/penalty', e.entry.id]">{{ 'PENALTIES' | translate }}</button></td>
            <td>
                <button *ngIf="!isDisqualified(e)" class="btn primary" [routerLink]="['/disqualify', e.entry.id]">{{ 'DISQUALIFY_ENTRY' | translate }}</button>
                <button *ngIf="isDisqualified(e)" class="btn primary" [routerLink]="['/disqualify', e.entry.id]">{{ 'REQUALIFY_ENTRY' | translate }}</button>
            </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<ngb-pagination [collectionSize]="filteredEntryTimes?.length" [pageSize]="itemsPerPage" [(page)]="page" [boundaryLinks]="true" [directionLinks]="true" [ellipses]="true" [maxSize]="5"></ngb-pagination>

