
<select [(ngModel)]="selectedRace" name="selectedRace" (change)="changedRace(selectedRace)">
        <option *ngFor="let race of races" [ngValue]="race">{{ race.name }}</option>
</select>

<div *ngIf="selectedRace">
    <p>{{ 'ADD_TEMPLATE' | translate }} for {{ selectedRace.name }}</p>

    <div>
        <form [formGroup]="addPositionForm" (ngSubmit)="onSubmit(addPositionForm)" novalidate>
            <div class="form-group">
                <label>{{ 'TEMPLATE_NAME' | translate }}:</label>
                <input type="text" class="form-control" formControlName="name" placeholder="{{ 'ENTER_TEMPLATE_NAME' | translate }}">
                <div *ngIf="addPositionForm.get('name').errors && addPositionForm.get('name').touched" class="alert alert-danger">
                    <div [hidden]="!addPositionForm.get('name').hasError('required')">{{ 'POSITION_NAME_REQUIRED' | translate }}</div>
                    <div [hidden]="!addPositionForm.get('name').hasError('minlength')">{{ 'POSITION_NAME_TOO_SHORT' | translate }}</div>
                    <div [hidden]="!addPositionForm.get('name').hasError('maxlength')">{{ 'POSITION_NAME_TOO_LONG' | translate }}</div>
                    <div [hidden]="!addPositionForm.get('name').hasError('existingName')">{{ 'POSITION_NAME_ALREADY_EXISTS' | translate }}</div>
                </div>

                <div>
                    <label>{{ 'DEFAULT_TEMPLATE' | translate }}:</label>
                    <input type="checkbox" class="form-control" formControlName="defaultTemplate" >
                    <div *ngIf="addPositionForm.get('defaultTemplate').errors && addPositionForm.get('defaultTemplate').touched" class="alert alert-danger">
                        <div [hidden]="!addPositionForm.get('defaultTemplate').hasError('existingDefault')">{{ 'POSITION_EXISTING_DEFAULT' | translate }}</div>
                    </div>
                </div>
            </div>

            <button type="submit" [disabled]="!addPositionForm.valid">{{ 'CREATE_TEMPLATE' | translate }}</button>
        </form> 
    </div>

    <div *ngIf="templatesForRace">
        <table>
            <tr *ngFor="let template of templatesForRace">
                <td>{{ template.name }}</td>
                <td>{{ template.defaultTemplate }}</td>
                <td><button class="btn primary" (click)="removeTemplate(template)">{{ 'REMOVE_TEMPLATE' | translate }}</button></td>
            </tr>
        </table>
    </div>
</div>

