
<nav class="sidebar" role="navigation">
    <ul class="nav nav-pills flex-column ">
        <li class="nav-item" *ngFor="let race of races | async">
           <a class="nav-link" [routerLink]="[link, race.id]" routerLinkActive="active">{{race.name}}</a>
        </li>

        <li *ngIf="showBack">
            <a class="nav-link" routerLink="/">{{ 'POSITION' | translate }}</a>
        </li>

        <li *ngIf="showLogout">
            <a class="nav-link" href="/rest/logout">{{ 'LOGOUT' | translate }}</a>
        </li>
    </ul>
</nav>
