<div data-ng-controller="positionController as ctrl">
    <h1>{{ 'POSITION' | translate }}</h1>

    <div data-uib-alert type="{{ctrl.alert.type}}" close="ctrl.closeAlert()" ng-show="ctrl.alert.msg != null" ng-class="'alert-' + ctrl.alert.type">
        {{ctrl.alert.msg}}
    </div>

    <p>{{ 'ADD_POSITION' | translate }}</p>

    <div>
    <form name="ctrl.addPositionForm" ng-submit="ctrl.addPositionForm.$valid" novalidate>
        <div class="form-group">
            <label>{{ 'POSITION_NAME' | translate }}</label>
            <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength" type="text" name="name" id="name" ng-model="ctrl.position.name" not-existing-position-name  required ng-minlength="3" ng-maxlength="10"/>
            <div class="errors name-error-message" ng-messages="ctrl.addPositionForm.name.$error" ng-if="(ctrl.addPositionForm.name.$dirty && ctrl.addPositionForm.name.$invalid) || (ctrl.addPositionForm.order.$dirty)">
                <p ng-message="minlength">{{ 'POSITION_NAME_TOO_SHORT' | translate }}</p>
                <p ng-message="maxlength">{{ 'POSITION_NAME_TOO_LONG' | translate }}</p>
                <p ng-message="required">{{ 'POSITION_NAME_REQUIRED' | translate }}</p>
                <p ng-message="positionNameExists">{{ 'POSITION_NAME_ALREADY_EXISTS' | translate }}</p>
            </div>
        </div>

        <button id="createPosition" data-ng-click="ctrl.addPosition(ctrl.position)" ng-disabled="ctrl.addPositionForm.$invalid">{{ 'CREATE_POSITION' | translate }}</button>
    </form>
    </div>

    <div class="spacer"> </div>
    <div class="spacer"> </div>

    <div data-ng-show="ctrl.positions.$resolved">
        <table id="positions" data-ng-table class="table table-condensed table-bordered table-striped" >
            <tr data-ng-repeat="position in ctrl.positions">
                <td data-title="'POSITION_NAME' | translate">{{position.name}}</td>
                <td><button class="btn primary delete-position" data-ng-click="ctrl.deletePosition(position)">{{ 'DELETE_POSITION' | translate }}</button></td>
            </tr>
        </table>
    </div>
</div>