<!doctype html>
<html data-ng-app="loginApp" data-ng-controller="appController">
    <head>
        <meta charset="US-ASCII">
        <style type="text/css" media="all">@import "/public/css/tiatus.css";</style>
        <style type="text/css" media="all">@import "/tiatus/config/css/custom.css";</style>
        <script src="/public/js/angular/angular.min.js"></script>
        <script src="/public/js/angular-resource/angular-resource.min.js"></script>
        <script src="/public/js/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/public/js/angular-cookies/angular-cookies.min.js"></script>
        <script src="/public/js/angular-messages/angular-messages.min.js"></script>
        <script src="/public/js/angular-translate/angular-translate.min.js"></script>
        <script src="/public/js/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
        <script src="/public/js/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
        <script src="/public/js/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
        <script src="/public/js/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>

        <script src="login/login.module.js"></script>
        <script src="login/login.config.js"></script>
        <script src="login/login.controller.js"></script>
        <title>{{ 'LOGIN_TITLE' | translate }}</title>
        <link rel="shortcut icon" data-ng-href="{{ favIcon }}" type="image/x-icon" />
    </head>
    <body>
        <div class="tiatus-container">
            <div class="spacer"> </div>
            <div>
                <div class="event-header">{{ eventTitle }}</div>

                <div class="event-logo">
                    <img border="0" alt="Logo" data-ng-src="{{ titleImage }}" width="100" />
                </div>
            </div>

            <div class="content">
                <form action="/rest/login" method="POST" name="ctrl.loginForm" data-ng-submit="ctrl.loginForm.$valid" novalidate>
                    <div class="form-group">
                        <label>{{ 'USER_NAME' | translate }}:</label>
                        <input type="text" placeholder="{{'ENTER_USERNAME' | translate}}" name="user" id="username" data-ng-model="ctrl.user.userName" required data-ng-minlength="3" data-ng-maxlength="256">
                        <div class="errors" id="nameError" data-ng-messages="ctrl.loginForm.name.$error">
                            <p data-ng-message="minlength">{{ 'USERNAME_TOO_SHORT' | translate }}</p>
                            <p data-ng-message="maxlength">{{ 'USERNAME_TOO_LONG' | translate }}</p>
                            <p data-ng-message="required">{{ 'USERNAME_IS_REQUIRED' | translate }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{ 'PASSWORD' | translate }}:</label>
                        <input type="password" placeholder="{{'ENTER_PASSWORD' | translate}}" name="pwd" id="password" data-ng-model="ctrl.user.password" required data-ng-minlength="8" data-ng-maxlength="20">
                        <div class="errors" id="passwordError" data-ng-messages="ctrl.loginForm.password.$error">
                            <p data-ng-message="minlength">{{ 'PASSWORD_TOO_SHORT' | translate }}</p>
                            <p data-ng-message="maxlength">{{ 'PASSWORD_TOO_LONG' | translate }}</p>
                            <p data-ng-message="required">{{ 'PASSWORD_IS_REQUIRED' | translate }}</p>
                        </div>
                    </div>
                    <button id="login" data-ng-disabled="ctrl.loginForm.$invalid">{{ 'LOGIN' | translate }}</button>
                </form>

                <div class="spacer"> </div>
            </div>
        </div>

        <div id="footer"></div>
    </body>
</html>