
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Number</th>
        <th>Club</th>
        <th>Event</th>
        <th>Crew</th>
        <th>Time</th>
        <th>Synced</th>
    </tr>
    <tr>
        <th><input type="text" #number (keyup)="onKey(number.value, 'number')"></th>
        <th><input type="text" #club (keyup)="onKey(club.value, 'club')"></th>
        <th><input type="text" #event (keyup)="onKey(event.value, 'event')"></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of filteredEntries | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
        <td>{{entry.number}}</td>
        <td>{{getClubNames(entry.clubs)}}</td>
        <td>{{entry.event.name}}</td>
        <td>{{entry.crew}}</td>
        <td><input #time type="text" (keyup.enter)="onKey(time.value, entry)" (blur)="onKey(time.value, entry)"></td>

    </tr>
    </tbody>
</table>

<ngb-pagination [collectionSize]="filteredEntries?.length" [pageSize]="itemsPerPage" [(page)]="page" [boundaryLinks]="true" [directionLinks]="true" [ellipses]="true" [maxSize]="5"></ngb-pagination>
