.tiatus-pagination  .ng2-pagination  {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.tiatus-pagination  .ng2-pagination .current {
    background: green;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    z-index: 2;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.tiatus-pagination  .ng2-pagination a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0275d8;
    background-color: #fff;
    border: 1px solid #ddd;
}

.tiatus-pagination  .ng2-pagination .pagination-previous,
.tiatus-pagination  .ng2-pagination .pagination-previous.disabled
{
    margin-right: 0;

    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.tiatus-pagination  .ng2-pagination .pagination-previous a::before,
.tiatus-pagination  .ng2-pagination .pagination-previous.disabled a::before
{
    margin-right: 0;

}

.tiatus-pagination  .ng2-pagination .pagination-next a::after,
.tiatus-pagination  .ng2-pagination .pagination-next.disabled a::after
 {
    margin-left: 0;
}


