<div data-ng-controller="entryController as ctrl">
    <h1>{{ 'ENTRY' | translate }}</h1>

    <div data-uib-alert type="{{ctrl.alert.type}}" close="ctrl.closeAlert()" ng-show="ctrl.alert.msg != null" ng-class="'alert-' + ctrl.alert.type">
        {{ctrl.alert.msg}}
    </div>

    <div>
        <button id="addEntry" class="btn primary" data-ng-click="ctrl.newEntry()">{{ 'CREATE_ENTRY' | translate }}</button>
    </div>

    <div class="spacer"> </div>

    <p>{{'UPLOAD_ENTRIES_FILE' | translate}}
    <form name="uploadEntries" novalidate>
        <input type="file" file-model="ctrl.entriesFile" name="uploadedFile" id="uploadedFile"/></label>
        <br />
        <button data-ng-click="ctrl.uploadFile()" data-ng-disabled="!ctrl.entriesFile">{{ 'UPLOAD_FILE' | translate }}</button>
    </form>

    </p>

    <div class="spacer"> </div>
    <div class="spacer"> </div>

    <p>{{ 'ENTRY' | translate }}</p>

    <div ng-show="ctrl.currentRace">
        {{ 'SELECTED_RACE' | translate }}
        <select name="race" ng-model="ctrl.currentRace" ng-options="race as race.name for race in ctrl.races" ng-change="ctrl.raceChanged(ctrl.currentRace)"></select>

        <div class="spacer"> </div>
        <div class="spacer"> </div>

        <div ng-show="ctrl.tableParams">
            <table ng-table="ctrl.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
                <tr ng-repeat="entry in $data | orderBy:'raceOrder'" id="entry-{{entry.id}}" ng-form name="entryUpdateForm">
                        <td data-title="'ENTRY_NUMBER' | translate">{{entry.number}}</td>
                        <td data-title="'ENTRY_EVENT' | translate" filter="{'event.name': 'text'}" ng-model="event.name">{{entry.event.name}}</td>
                        <td data-title="'ENTRY_CLUB' | translate" filter="{'club': 'text'}" ng-model="entry.club">{{entry.club}}</td>
                        <td data-title="'ENTRY_CREW' | translate" ng-model="entry.crew">{{entry.crew}}</td>
                        <td data-title="'ENTRY_WEIGHTING' | translate" ng-model="entry.weighting">{{entry.weighting}}</td>

                        <td ng-if="!ctrl.currentRace.drawLocked"><button class="btn primary update-entry" ng-click="ctrl.updateEntry(entry, entryUpdateForm.number)" data-ng-disabled="entryUpdateForm.$invalid">{{ 'UPDATE_ENTRY' | translate }}</button></td>
                        <td ng-if="!ctrl.currentRace.drawLocked"><button class="btn primary remove-entry" ng-click="ctrl.removeEntry(entry)">{{ 'REMOVE_ENTRY' | translate }}</button></td>
                </tr>
            </table>
        </div>

    </div>
</div>