<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
    <script src="/public/js/angular/angular.min.js"></script>
    <script src="/public/js/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/public/js/angular-cookies/angular-cookies.min.js"></script>
    <script src="/public/js/angular-translate/angular-translate.min.js"></script>
    <script src="/public/js/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="/public/js/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
    <script src="/public/js/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
    <script src="/public/js/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="setup.js"></script>
    <style type="text/css" media="all">@import "setup.css";</style>
</head>
<body>
<h1>setup</h1>
<div data-ng-app="setupApp" data-ng-controller="userController as ctrl">
    <form name="ctrl.addUserForm" data-ng-submit="ctrl.addUserForm.$valid" novalidate>
        <div class="form-group">
            <label>{{ 'USER_NAME' | translate }}:</label>
            <input type="text" placeholder="Enter user name here" name="name" id="username" ng-model="ctrl.user.name" not-existing-race-name required ng-minlength="5" ng-maxlength="256">
            <label>{{ 'PASSWORD' | translate }}:</label>
            <input type="text" placeholder="Enter user password here" name="name" id="password" ng-model="ctrl.user.password"  required ng-minlength="8" ng-maxlength="16">
        </div>
        <button data-ng-click="ctrl.addUser(ctrl.user)" ng-disabled="ctrl.addUserForm.$invalid">{{ 'CREATE_USER' | translate }}</button>
    </form>
    <hr>
</div>
</body>
</html>