<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
    <script src="/public/js/angular/angular.min.js"></script>
    <script src="/public/js/angular-resource/angular-resource.min.js"></script>
    <script src="/public/js/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/public/js/angular-cookies/angular-cookies.min.js"></script>
    <script src="/public/js/angular-messages/angular-messages.min.js"></script>
    <script src="/public/js/angular-translate/angular-translate.min.js"></script>
    <script src="/public/js/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="/public/js/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
    <script src="/public/js/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
    <script src="/public/js/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="setup.module.js"></script>
    <script src="setup.controller.js"></script>
    <script src="services/user.service.js"></script>
    <style type="text/css" media="all">@import "setup.css";</style>
    <title>Setup</title>
</head>
<body data-ng-app="setupApp">
<h1>setup</h1>
<div data-ng-controller="userController as ctrl">
    <form name="ctrl.addUserForm" data-ng-submit="ctrl.addUserForm.$valid" novalidate>
        <div class="form-group">
            <label>{{ 'USER_NAME' | translate }}:</label>
            <input type="text" placeholder="{{'ENTER_USERNAME' | translate}}" name="name" id="username" data-ng-model="ctrl.user.userName" required data-ng-minlength="5" data-ng-maxlength="256">
            <div class="errors" data-ng-messages="ctrl.addUserForm.name.$error">
                <p data-ng-message="minlength">{{ 'USERNAME_TOO_SHORT' | translate }}</p>
                <p data-ng-message="maxlength">{{ 'USERNAME_TOO_LONG' | translate }}</p>
                <p data-ng-message="required">{{ 'USERNAME_IS_REQUIRED' | translate }}</p>
            </div>
        </div>

        <div class="form-group">
            <label>{{ 'PASSWORD' | translate }}:</label>
            <input type="password" placeholder="{{'ENTER_PASSWORD' | translate}}" name="password" id="password" data-ng-model="ctrl.user.password" required data-ng-minlength="8" data-ng-maxlength="20">
            <div class="errors" data-ng-messages="ctrl.addUserForm.password.$error">
                <p data-ng-message="minlength">{{ 'PASSWORD_TOO_SHORT' | translate }}</p>
                <p data-ng-message="maxlength">{{ 'PASSWORD_TOO_LONG' | translate }}</p>
                <p data-ng-message="required">{{ 'PASSWORD_IS_REQUIRED' | translate }}</p>
            </div>
        </div>
        <button id="create" data-ng-click="ctrl.addUser(ctrl.user)" data-ng-disabled="ctrl.addUserForm.$invalid">{{ 'CREATE_USER' | translate }}</button>
    </form>
    <hr>
</div>
</body>
</html>