

html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-top: 50px;
  margin-bottom: 60px;
}

active {
  background-color: gray;
}


.sidebar {
  box-sizing: border-box;
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 25%;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer code {
  font-size: 80%;
}
